@import 'node_modules/normalize.sass/normalize';

@mixin font($font-name, $font-style, $font-weight, $font-url) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: url($font-url) format('woff2');
  }
}

@mixin respond($min: -1, $max: -1, $media: "all") {
  $query: "only " + $media;

  @if $min != -1 and $max != -1 {
    $query: "only " + $media + " and (min-width: " + $min + ") and (max-width: " + ($max - 1) + ")";
  } @else if $min == -1 and $max != -1 {
    $query: "only " + $media + " and (max-width: " + ($max - 1) + ")";
  } @else if $min != -1 and $max == -1 {
    $query: "only " + $media + " and (min-width: " + $min + ")";
  }

  @media #{$query} {
    @content;
  }
}

@include font('manrope', normal, 300, '../fonts/manrope-v4-cyrillic-300.woff2');
@include font('manrope', normal, 400, '../fonts/manrope-v4-cyrillic-regular.woff2');
@include font('manrope', normal, 500, '../fonts/manrope-v4-cyrillic-500.woff2');
@include font('manrope', normal, 600, '../fonts/manrope-v4-cyrillic-600.woff2');

$font-size: 16px;
$text-color: #242323;
$line-height: 1.65;
$default-font: 'manrope', sans-serif;
$red: #ef3423;
$color444: #444444;
$white: #fff;
$asphalt: #f3f3f3;
$blue: #b7ecff;
$dark: #3f4449;
$silver: #9e9e9e;
$map: #e2e2e2;
$gray: #687179;
$mobile: 1024px;
$laptop: 1366px;

*,
*:after,
*:before {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
}

body,
html {
  min-height: 100%;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: $white;
  font-family: $default-font;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  min-width: 320px;
  position: relative;
}
