.manager {
  @include respond($mobile) {
    padding: 75px 0 100px 0;
  }

  @include respond(0, $mobile) {
    padding: 40px 0 50px 0;
  }

  .columns {
    @include respond($mobile) {
      display: flex;
    }

    p {
      margin: 0 0 10px 0;
    }
  }

  .bottom {
    margin-top: 30px;
  }

  .manager-content {
    @include respond($mobile) {
      max-width: 760px;
      padding-right: 30px;
    }

  }

  .column {
    &:first-child {
      flex: 1;
      font-size: 18px;
      letter-spacing: .6px;
    }

    &:last-child {
      img {
        margin-top: 20px;
      }
    }
  }

}